<!-- CSS Autry for HomePage-->

.container{

}
body{
  background: #ACC4C4 no-repeat top;
  font-family: 'Lato', sans-serif;
}

#headerImage{
  padding-bottom: 10px;
  padding-top: 5px;
}

#headerImage img{
  border-radius: 4px;
}

#headerImage div{
  display: inline;
}

#share-buttons img{
height: 35px;
padding-left: 0px;
padding-right: 0px;
padding-top:10px;

border: 0;
box-shadow: 0;
display: inline;
}

#share-buttons a{
  text-align: left;
}

.nav a {
  color: #5a5a5a;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

#navCustom{
  margin-bottom: 10px;
  background-color: #4E5F6C;
  font-family: 'Droid Sans', sans-serif;
}
#navCustom a{
  color: #ACC4C4;
}
.nav li {
  display: inline;
}

#carouselImage{
  height: 30%;
  width: 100%;
  border-radius: 4px;
}
#carouselButton{
  border-radius: 4px;
}

#sideBar{
  background-color: #FFF;
  border-radius: 4px;
  width: 33%;
  text-align: center;
}

#sideBar div{
  width: 100%;
}

#content{
  padding-top:29px;
  padding-left: 7px;
  padding-right: 15px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

#imgContent{
  width: 362px;
  border-radius: 4px;
}

#grid div{
  padding: 20px 0px 0px 12px;
}
.footer{
  background-color: #FFF;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 5px;
}
