<!-- CSS Autry for HomePage-->

.container{

}
body{
  background: #ACC4C4 no-repeat top;
  font-family: 'Lato', sans-serif;
}

#headerImage{
  padding-bottom: 10px;
  margin-right: 20px;
  padding-top: 5px;
  width: 100%;
}

#headerImage img{
  text-align: center;
  border-radius: 4px;
  width: 100%;
}

#headerImage div{
  display: inline;
  width: 100%;
}

#share-buttons img{
height: 35px;
padding-left: 0px;
padding-right: 0px;
padding-top:10px;

border: 0;
box-shadow: 0;
display: inline;
}

#share-buttons a{
  text-align: left;
}

.nav a {
  color: #5a5a5a;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

#navCustom{
  margin-bottom: 10px;
  background-color: #4E5F6C;
  font-family: 'Droid Sans', sans-serif;
  margin-left: -16px;
}
#navCustom a{
  color: #ACC4C4;
}
.nav li {
  display: inline;
}

#carouselImage{
  height: 30%;
  width: 100%;
  border-radius: 4px;
}
#carouselButton{
  border-radius: 4px;
}

#sideBar{
  background-color: #FFF;
  border-radius: 4px;
  text-align: center;
}

#sideBar div{
  width: 100%;
}

#sideBar div div{
  width: 100%;
  padding-left: 10px;
}

.articleSideBar{
  width: 100%;
}

.articleSideBar img{
  width: 60%;
  text-align: right;
}

.articleSideBar1 img{
  width: 40%;
  text-align: right;
}

#articleContainer{
  padding-right: 100px;
}
#content{
  padding-top:29px;
  padding-left: 7px;
  padding-right: 0px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

#imgContent{
  width: 96%;
  border-radius: 4px;
}

#grid div{
  padding:20px 0px 0px 12px;
}

h3{
  padding-top: 10px;
  padding-left: 10px;
}

h4{
  padding-left: 10px;
}

#article{
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-left: -30px;
}

#article h3,h4{
  padding-left: 30px;
}

#article p{
  padding-left: 40px;
  width: 100%;
}

.footer{
  background-color: #FFF;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 5px;
}
